<h2>Pre-Deployment Exploration</h2>

<div class="exploration-container">
  <!-- Dropdown -->
  <label for="composition-select">Select Nominal Composition:</label>
  <select
    id="composition-select"
    [(ngModel)]="selectedNominalCompositionId"
    (ngModelChange)="onNominalCompositionSelected($event)"
  >
    <option *ngFor="let comp of allNominalCompositions" [value]="comp.id">
      {{ comp.name }}
    </option>
  </select>

  <!-- Tabs -->
  <div class="tabs">
    <button [class.active]="activeTab === 'tab1'" (click)="activeTab = 'tab1'">
      Schedule calculations runs
    </button>
    <button [class.active]="activeTab === 'tab2'" (click)="activateTab2()">
      View all scheduled runs
    </button>
  </div>

  <!-- Tab Schedule calculations runs -->

  <div *ngIf="scheduleError" class="error">{{ scheduleError }}</div>
  <div *ngIf="scheduleSuccess" class="success">{{ scheduleSuccess }}</div>

  <div *ngIf="activeTab === 'tab1'">
    <p *ngIf="!loadingData && selectedNominalCompositionId === null">
      Select a Nominal Composition to schedule Runs for.
    </p>

    <div *ngIf="!loadingData && selectedNominalCompositionId != null">
      <label for="calc-count"
        >Number of Run calculations to be scheduled:</label
      >
      <div class="counter">
        <button (click)="decrementNRuns()">−</button>
        <input type="number" [value]="nRunsToSchedule" readonly />
        <button (click)="incrementNRuns()">+</button>
      </div>
      <button (click)="scheduleRuns()">Schedule</button>
    </div>
  </div>

  <!-- 

  View all scheduled runs
  
  TODO: *ngIf="runs.length > 0; else noRuns" was in <table> ... extract to generic table such a behavior? 

  <ng-template #noRuns>
      <p>No runs available for the selected nominal composition.</p>
  </ng-template>
  -->

  <div *ngIf="activeTab === 'tab2'">
    <p *ngIf="!loadingData && selectedNominalCompositionId === null">
      Select a Nominal Composition.
    </p>

    <h3 *ngIf="runsTableData.length > 0">
      All Runs that have already been scheduled for Nominal Composition "{{
        selectedNominalCompositionName
      }}"
    </h3>
    <data-table
      *ngIf="runsTableData.length > 0"
      [columns]="runsTableColumns"
      [data]="runsTableData"
      [rowKeyColumn]="runSelectedKey"
      [selectedRowKeyValue]="selectedRunId"
      (rowSelected)="onRunsTableRowSelected($event)"
    >
    </data-table>

    <h3 *ngIf="subRunsTableData.length > 0">
      All SubRuns that have already been scheduled for Run # "{{
        selectedRunNumber
      }}"
    </h3>
    <data-table
      *ngIf="subRunsTableData.length > 0"
      [columns]="subRunsTableColumns"
      [data]="subRunsTableData"
      [rowKeyColumn]="subRunSelectedKey"
      [selectedRowKeyValue]="selectedSubRunId"
      (rowSelected)="onSubRunsTableRowSelected($event)"
    >
    </data-table>

    <h3 *ngIf="simulationArtifactsTableData.length > 0">
      All Simulation Artifacts for SubRun # "{{ selectedSubRunNumber }}"
    </h3>
    <data-table
      *ngIf="simulationArtifactsTableData.length > 0"
      [columns]="simulationArtifactsTableColumns"
      [data]="simulationArtifactsTableData"
    >
    </data-table>
  </div>
</div>
