<h2>Pre-Deployment Exploration</h2>

<div class="exploration-container">
  <!-- Dropdown -->
  <label for="composition-select">Select Nominal Composition:</label>
  <select
    id="composition-select"
    [(ngModel)]="selectedNominalCompositionId"
    (ngModelChange)="onNominalCompositionSelected($event)"
  >
    <option *ngFor="let comp of allNominalCompositions" [value]="comp.id">
      {{ comp.name }}
    </option>
  </select>

  <!-- Tabs -->
  <div class="tabs">
    <button
      [class.active]="uiState.isTabScheduleActive"
      (click)="activeTab = 'tab1'"
    >
      Schedule calculations runs
    </button>
    <button [class.active]="uiState.isTabViewActive" (click)="activateTab2()">
      View all scheduled runs
    </button>
  </div>

  <!-- Tab "Schedule calculations runs" -->
  <div
    *ngIf="uiState.displayAlertMessage"
    class="{{ uiState.alertMessageType }}"
  >
    {{ uiState.alertMessage }}
  </div>

  <div *ngIf="uiState.isTabScheduleActive">
    <p *ngIf="uiState.suggestNominalCompositionSelection">
      Select a Nominal Composition to schedule Runs for.
    </p>

    <div *ngIf="uiState.displayScheduleForm">
      <label for="calc-count"
        >Number of Run calculations to be scheduled:</label
      >
      <div class="counter">
        <button (click)="decrementNRuns()">−</button>
        <input type="number" [value]="nRunsToSchedule" readonly />
        <button (click)="incrementNRuns()">+</button>
      </div>
      <button (click)="scheduleRuns()">Schedule</button>
    </div>
  </div>

  <!-- Tab "View all scheduled runs" -->
  <div *ngIf="uiState.isTabViewActive">
    <p *ngIf="uiState.suggestNominalCompositionSelection">
      Select a Nominal Composition.
    </p>

    <h3 *ngIf="uiState.displayRunsTable">
      All Runs that have already been scheduled for Nominal Composition "{{
        selectedNominalCompositionName
      }}"
    </h3>
    <data-table
      *ngIf="uiState.displayRunsTable"
      [columns]="runsTableColumns"
      [data]="runsTableData"
      [rowKeyColumn]="runSelectedKey"
      [selectedRowKeyValue]="selectedRunId"
      (rowSelected)="onRunsTableRowSelected($event)"
    >
    </data-table>

    <h3 *ngIf="uiState.displaySubRunsTable">
      All SubRuns that have already been scheduled for Run # "{{
        selectedRunNumber
      }}"
    </h3>
    <data-table
      *ngIf="uiState.displaySubRunsTable"
      [columns]="subRunsTableColumns"
      [data]="subRunsTableData"
      [rowKeyColumn]="subRunSelectedKey"
      [selectedRowKeyValue]="selectedSubRunId"
      (rowSelected)="onSubRunsTableRowSelected($event)"
    >
    </data-table>

    <h3 *ngIf="uiState.displaySimulationArtifactsTable">
      All Simulation Artifacts for SubRun # "{{ selectedSubRunNumber }}"
    </h3>
    <data-table
      *ngIf="uiState.displaySimulationArtifactsTable"
      [columns]="simulationArtifactsTableColumns"
      [data]="simulationArtifactsTableData"
    >
    </data-table>
  </div>
</div>
