<nav>
  <ul>
    <li>
      <a
        routerLink="/nominal-composition-manager"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Nominal Composition Manager</a
      >
    </li>
    <li>
      <a
        routerLink="/pre-deployment-exploration"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Pre-Deployment Exploration</a
      >
    </li>
    <li>
      <a
        routerLink="/pre-deployment-exploitation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Pre-Deployment Exploitation</a
      >
    </li>
    <li><a href="#" (click)="logout()">Logout</a></li>
  </ul>
</nav>
