<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th *ngIf="rowKeyColumn !== null"></th>
      <th *ngFor="let col of columns" class="left-align">{{ col.label }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngIf="rowKeyColumn !== null">
        <input
          type="checkbox"
          [checked]="row[rowKeyColumn] === selectedRowKeyValue"
          (change)="onCheckboxChange(row[rowKeyColumn])"
        />
      </td>
      <td
        *ngFor="let col of columns"
        [ngClass]="{
          'left-align': col.align === 'left',
          'center-align': col.align === 'center',
          'right-align': col.align === 'right'
        }"
      >
        <ng-container [ngSwitch]="col.type">
          <!-- Link column -->
          <a
            *ngSwitchCase="'link'"
            [href]="buildUrl(col.urlTemplate, row)"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ col.linkTextKey ? row[col.linkTextKey] : row[col.key] }}
          </a>

          <!-- Date/Number/String handled via formatCell -->
          <span *ngSwitchDefault>
            {{ formatCell(row, col) }}
          </span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
