.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  font-size: 0.9rem;
}


th {
  background-color: #f4f4f4;
  text-align: left;
}

td, th {
  padding: 8px;
}

input[type='checkbox'] {
  transform: scale(1.2);
}
