<h2>Nominal Compositions</h2>

<div *ngIf="loadingData">Loading...</div>
<div *ngIf="dataError" class="error">{{ dataError }}</div>

<!-- 
NOTE: This is a reusable HTML table defined in '../../shared/components/datatable/datatable.component' 
  The @Inputs ([inputName]) and @Outputs ((outputName)) are used to parametrize its 
  behavior. For instance, rowSelected is an @Output (EventEmitter) that emmit an event 
  when the checkboxes are selected, so that this component can handle it.
-->
<data-table
  *ngIf="ncTableData.length > 0"
  [columns]="ncTableColumns"
  [data]="ncTableData"
  [rowKeyColumn]="ncSelectedKey"
  [selectedRowKeyValue]="selectedNCName"
  (rowSelected)="selectRow($event)"
>
</data-table>

<p *ngIf="!loadingData && ncTableData.length === 0">
  No Nominal Compositions found.
</p>

<div *ngIf="!selectedNCName" class="action-buttons">
  <button (click)="toggleCreateMode()">
    {{ formMode === "create" ? "Cancel" : "+ Create New" }}
  </button>
</div>

<div *ngIf="selectedNCName && formMode === 'edit'" class="action-buttons">
  <button (click)="deleteSelected()">- Delete</button>
</div>

<div *ngIf="formMode" class="form-container">
  <h3>
    {{ formMode === "create" ? "Create New Composition" : "Edit Description" }}
  </h3>

  <div *ngIf="formError" class="error">{{ formError }}</div>
  <div *ngIf="formSuccess" class="success">{{ formSuccess }}</div>

  <label>
    Name*:
    <input [(ngModel)]="formName" [disabled]="formMode === 'edit'" />
  </label>

  <label>
    Description:
    <textarea [(ngModel)]="formDescription"></textarea>
  </label>

  <button (click)="submitForm()">
    {{ formMode === "create" ? "Create" : "Update" }}
  </button>
</div>
